name: Latest blog post workflow
on:
    schedule:
        - cron: "0 7 * * 1-5" # Runs daily at 7:00 AM UTC
    workflow_dispatch:
jobs:
    update-readme-with-blog:
        name: Update this repo's README with latest blog posts
        runs-on: ubuntu-latest
        permissions:
            contents: write
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Pull in dev.to posts
              uses: gautamkrishnar/blog-post-workflow@master
              with:
                  feed_list: "https://dev.to/feed/psypher1"
                  # feed_list: " https://dantedecodes.hashnode.dev/rss.xml"
